{% extends 'main_with_header.html' %}

{% block links %}
<link rel="stylesheet" href="static/css/items.css">
{% endblock %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <h3 class="text-center my-3">Categories</h3>
    <div class="row d-flex justify-content-between">
        <div class="col-sm-1">
            <div class="bg-primary rounded-circle p-1"><img src="static/images/house.png" class="p-2 img-fluid"></div>
            <p class="text-center pt-2">Housing</p>
        </div>
        <div class="col-sm-1">
            <div class="bg-primary rounded-circle p-1"><img src="static/images/buy1.png" class="p-2 img-fluid">
            </div>
            <p class="text-center pt-2">Buy/Sale</p>
        </div>
        <div class="col-sm-1">
            <div class="bg-primary rounded-circle p-1"><img src="static/images/search.png" class="p-2 img-fluid">
            </div>
            <p class="text-center pt-2">Lost-and-Found</p>
        </div>
        <div class="col-sm-1">
            <div class="bg-primary rounded-circle p-1"><img src="static/images/project.png" class="p-2 img-fluid">
            </div>
            <p class="text-center pt-2">Project</p>
        </div>
        <div class="col-sm-1">
            <div class="bg-primary rounded-circle p-1"><img src="static/images/tutor.png" class="p-2 img-fluid">
            </div>
            <p class="text-center pt-2">Services</p>
        </div>
        <div class="col-sm-1">
            <div class="bg-primary rounded-circle p-1"><img src="static/images/other.png" class="p-2 img-fluid">
            </div>
            <p class="text-center pt-2">Other</p>
        </div>
    </div>
</div>

<hr class="my-3">

<div class="container mt-5">
    {% if items|length == 0 %}
        <h2 class="text-center">There are no items yet.</h2>
    {% endif %}
    {% for item in items %}
    <div class="card mb-5">
        <div class="row">
            <div class="col-sm-2 border-end p-0">
                {% if item.main_picture %}
                <img src="{{ url_for('utils.get_picture', table='item-pictures', filename=item.main_picture) }}"
                     class="img-fluid rounded-start">
                {% else %}
                <img src="static/images/no-product-image.jpg" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-sm-8 px-3 pt-3">
                <a role="button" href="{{ url_for('items.item_page', item_id=item.id) }}"
                   class="card-title fs-4 text-decoration-none text-dark">{{ item.title }}</a>
                <p class="card-body text-secondary ps-0">{{ item.description }}</p>
                <div class="d-flex justify-content-evenly align-items-end">
                    <p class="d-inline">Published: {{ item.created }}</p>
                    {% set item_user = get_user_by_id(item.user_id) %}
                    <p class="text-end text-secondary">Seller: <a href="{{ url_for('users.profile', username=item_user.username) }}" class="text-primary text-decoration-none">{{
                        item_user.username }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}