{% extends 'main_with_header.html' %}

{% block links %}
<link rel="stylesheet" href="static/css/items.css">
{% endblock %}

{% block title %} {{ item.title }} {% endblock %}

{% block body %}
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-8 mt-5">
                <div class="card">
                    <div class="card-body">
                        {% if item.pictures %}
                        <div class="d-flex justify-content-center">
                            <div id="carouselExampleControls" class="carousel slide w-75 d-flex justify-content-center" data-bs-ride="carousel">
                                <div class="carousel-inner w-75">
                                    {% for picture in item.pictures %}
                                    <div class="carousel-item">
                                        <img src="{{ url_for('utils.get_picture', table='item-pictures', filename=picture) }}"
                                             class="d-block w-100"   alt="...">
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        {% endif %}

                        <div class="item-info mt-5">
                            <h4 class="title text-center">{{ item.title }}</h4>
                            <p class="item-description text-center mt-3">{{ item.description }}</p>
                        </div>

                        <div class="item-additional-info mt-5 d-flex justify-content-evenly">
                            <div class="item-cost-block"><p class="text-secondary item-cost d-inline">Cost:
                                <p class="d-inline">{{ item.price }}</p></p></div>
                            <div class="item-date-block"><p class="text-secondary item-date d-inline">Date:
                                <p class="d-inline">{{ item.created }}</p></p></div>

                            <p class="text-end text-secondary item-author">Seller: <a href="{{ url_for('users.profile', username=user.username) }}"
                                                                                      class="text-primary text-decoration-none"
                                                                                      role="button">{{ user.username }}</a></p>
                        </div>

                        <div>
                            <h4>Reviews</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="row">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="author-box d-flex justify-content w-100">
                                <img src="{{ url_for('utils.get_picture', table='profile-pictures', filename=user.picture) }}"
                                     class="rounded-circle w-25 h-25">
                                <div class="author-info w-100 ps-5">
                                    <h3 class="text-start"><a href="#" class="text-decoration-none text-dark">{{
                                        user.username }}</a></h3>
                                    <p class="text-secondary">Rating: 4.99</p>
                                    <div class="contact-box mx-auto">
                                        <a type="button" class="btn btn-outline-secondary btn-sm">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let carousel = document.getElementsByClassName('carousel-item')[0];
    carousel.classList.add('active');


</script>

{% endblock %}